name: CI

on:
  pull_request:

jobs:
  ci:
    name: Building ${{ matrix.file }} / ${{ matrix.esphome-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        file:
          - smartbob.yaml
        esphome-version:
          - stable
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4.2.0
      - name: ESPHome ${{ matrix.esphome-version }}
        uses: esphome/build-action@v5.0.0
        with:
          yaml-file: ${{ matrix.file }}
          version: ${{ matrix.esphome-version }}
